<?xml version="1.0" ?>

<!-- 

<author email="chun.peng@deltaww.com">Hsien Chun Peng</author>
<maintainer email="chun.peng@deltaww.com">TIM group</maintainer>
<license>BSD</license>

Software License Agreement (BSD License)

Copyright (c) 2021, Delta Electronics, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

  * Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.
  * Redistributions in binary form must reproduce the above
    copyright notice, this list of conditions and the following
    disclaimer in the documentation and/or other materials provided
    with the distribution.
  * Neither the name of the Delta Electronics nor the names of its
    contributors may be used to endorse or promote products derived
    from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<robot name="delta_drv90l" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="arm_prefix" default="" />
  <xacro:arg name="drv90l_gazebo" default="false" />
  <xacro:include filename="$(find delta_drv90l_support)/urdf/drv90l_macro.xacro"/>

  <link name="base_footprint" />
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="$(arg arm_prefix)base_link" />
    <axis xyz="0 0 0" />
  </joint>

  <xacro:delta_drv90l prefix="$(arg arm_prefix)"/>

  <!-- Gazebo -->
  <xacro:if value="$(arg drv90l_gazebo)">
    <xacro:include filename="$(find delta_drv90l_support)/urdf/drv90l.gazebo"/>

    <link name="world" />
    <joint name="world_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="world" />
      <child link="$(arg arm_prefix)base_footprint" />
      <axis xyz="0 0 0" />
    </joint>

    <xacro:drv90l_gazebo gazebo_robot_name="$(arg arm_prefix)"/>
    <xacro:transmission_block prefix="$(arg arm_prefix)"/>
  </xacro:if>

</robot>
